<header class="clearfix">
  <ul>
    <li class="left"><%= image_tag("logo_twitter.png", style: "height:90px;width:90px;") %></li>
    <li class="left"><div class="Text">TwitterClone </div></li>
    <li class="right"><div class="link_button"><strong><%= link_to 'New Tweet', new_post_path, class: "link" %> </strong></div></li>
    <li class="right"><div class="link_button"><strong> <%= link_to "Tweets Lists", posts_path,  class: "link" %></strong></div></li>
</header>
<section class="section">